In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.insert(0, '/Users/Onur/repos/toolbox/')
from plot_helpers import *
%matplotlib inline

In [2]:
import pickle
with open('./cleaned_data.pkl', 'r') as f:
    data = pickle.load(f)

In [4]:
print data.keys()
df = data['train_data']
df.head()

['Sex_code', 'Title_code', 'test_data', 'Embarked_code', 'train_data']

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Title_code,Embarked_code
0,1,0,3,0,22.0,1,0,7.2500,0.0,0.0
1,2,1,1,1,38.0,1,0,71.2833,1.0,1.0
2,3,1,3,1,26.0,0,0,7.9250,2.0,0.0
3,4,1,1,1,35.0,1,0,53.1000,1.0,0.0
4,5,0,3,0,35.0,0,0,8.0500,0.0,0.0

## The "X" values

In [16]:
variables = df[df.columns[2:]].values
df[df.columns[2:]].head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Title_code  Embarked_code
0       3    0  22.0      1      0   7.2500         0.0            0.0
1       1    1  38.0      1      0  71.2833         1.0            1.0
2       3    1  26.0      0      0   7.9250         2.0            0.0
3       1    1  35.0      1      0  53.1000         1.0            0.0
4       3    0  35.0      0      0   8.0500         0.0            0.0

## The "y" values (labels)

In [17]:
labels = df[['Survived']].values
df[['Survived']].head()

   Survived
0         0
1         1
2         1
3         1
4         0

# scikitlearn first 3 suggested algorithms for classification
### Algorithm1: Support Vector Machines

In [5]:
from sklearn import svm

In [18]:
scv = svm.SVC()
scv.fit(variables, labels)

/Users/Onur/anaconda/lib/python2.7/site-packages/sklearn/svm/base.py:514: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y_ = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)